In [1]:
from subprocess import check_output
print(check_output(["dir","C:\\Users\\Lenovo NBB\\Desktop\\Dissertation Shelf\\Code"],shell=True).decode("utf8"))

 Volume in drive C is Windows8_OS
 Volume Serial Number is 089C-5A24

 Directory of C:\Users\Lenovo NBB\Desktop\Dissertation Shelf\Code

2019-08-23  03:38 PM    <DIR>          .
2019-08-23  03:38 PM    <DIR>          ..
2019-08-13  03:47 PM    <DIR>          .ipynb_checkpoints
2019-08-23  03:38 PM           739,517 .RData
2019-08-23  03:38 PM            20,582 .Rhistory
2019-08-07  01:04 PM         3,182,726 2017-2019-datetime-clean.csv
2019-08-07  03:19 PM         3,261,603 2017-2019-datetime.csv
2019-07-26  10:28 PM         2,582,868 2017-2019-datetimev.csv
2019-07-28  01:48 PM         3,240,718 2017-2019-mid-datetimehour.csv
2019-07-23  01:33 PM         3,304,954 2017-2019-mid.csv
2019-07-20  02:21 AM             1,413 APIconnection.py
2019-08-13  03:47 PM           327,663 ARIMA Models.ipynb
2019-07-15  04:24 PM                15 BMRSAPIKey.txt
2019-07-24  01:07 PM            13,574 Gas Data.docx
2019-08-05  09:10 AM            54,828 GasData.csv
2019-08-12  06:06 PM            55,996 gas_data.csv
2019-08-12  04:51 PM               693 gas_data.R
2019-08-13  09:41 AM           117,183 market index data and gass data added.ipynb
2019-08-07  01:26 PM             4,552 mid-17-19.R
2019-08-23  03:38 PM             2,683 mid-18-19.R
2019-07-23  01:40 PM         3,261,603 mid-2017-2019-datetime.csv
2019-08-13  04:10 PM            59,792 MID-preprocessing.ipynb
2019-08-07  01:22 PM           991,224 MID-price-prediction-Copy1.ipynb
2019-08-12  11:44 AM         1,171,723 MID-price-prediction.ipynb
2019-06-28  05:15 PM            15,914 Project Description.docx
2019-07-15  02:48 PM             7,276 Purpose of this folder.docx
2016-11-14  09:40 AM            12,792 UK Bank Holidays.csv
2019-08-10  03:38 PM            13,827 uk_bank_holidays.csv
2019-08-13  02:52 PM           327,665 Untitled.ipynb
2019-08-13  12:43 PM         1,171,723 update-MID-price-prediction.ipynb
              27 File(s)     23,945,107 bytes
               3 Dir(s)  135,551,885,312 bytes free

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("2017-2019-mid.csv",parse_dates=[2])
df.head()

  Record Type Data Provider Settlement Date  Settlement Period  Price  Volume
0         MID       APXMIDP      2017-01-01                  1  44.90  505.00
1         MID       APXMIDP      2017-01-01                  2  47.13  559.15
2         MID       APXMIDP      2017-01-01                  3  45.62  649.35
3         MID       APXMIDP      2017-01-01                  4  44.05  712.65
4         MID       APXMIDP      2017-01-01                  5  44.83  599.15

In [5]:
df.shape

(87075, 6)

In [6]:
(df == 0).sum()

Record Type              0
Data Provider            0
Settlement Date          0
Settlement Period        0
Price                43560
Volume               43560
dtype: int64

In [7]:
df = df[(df != 0).all(1)]
df.shape

(43515, 6)

In [8]:
df['Record Type'].unique()

array(['MID'], dtype=object)

In [9]:
df.groupby('Data Provider').size()

Data Provider
APXMIDP     43395
N2EXMIDP      120
dtype: int64

In [10]:
df = df[df['Data Provider'] != 'N2EXMIDP']
df = df.iloc[:,2:] #Selecting data by rows and colummns [row selection, column selection]
df.head()

  Settlement Date  Settlement Period  Price  Volume
0      2017-01-01                  1  44.90  505.00
1      2017-01-01                  2  47.13  559.15
2      2017-01-01                  3  45.62  649.35
3      2017-01-01                  4  44.05  712.65
4      2017-01-01                  5  44.83  599.15

In [11]:
#Adjusting time 
d = dict(zip(range(1, 49),pd.timedelta_range('00:00:00', '23:30:00', freq='30T')))
#Adding time column 
df['time'] = pd.to_timedelta(df['Settlement Period'].map(d), unit='h')
df.head()

  Settlement Date  Settlement Period  Price  Volume     time
0      2017-01-01                  1  44.90  505.00 00:00:00
1      2017-01-01                  2  47.13  559.15 00:30:00
2      2017-01-01                  3  45.62  649.35 01:00:00
3      2017-01-01                  4  44.05  712.65 01:30:00
4      2017-01-01                  5  44.83  599.15 02:00:00

In [12]:
#Let's add date and time together
df['datetime'] = pd.to_datetime(df['Settlement Date'] + df['time'])
df = df.reset_index().set_index('datetime')
df.head(10)

,index,Settlement Date,Settlement Period,Price,Volume,time
datetime,,,,,,
2017-01-01 00:00:00,0,2017-01-01,1,44.90,505.00,00:00:00
2017-01-01 00:30:00,1,2017-01-01,2,47.13,559.15,00:30:00
2017-01-01 01:00:00,2,2017-01-01,3,45.62,649.35,01:00:00
2017-01-01 01:30:00,3,2017-01-01,4,44.05,712.65,01:30:00
2017-01-01 02:00:00,4,2017-01-01,5,44.83,599.15,02:00:00
2017-01-01 02:30:00,5,2017-01-01,6,45.51,499.30,02:30:00
2017-01-01 03:00:00,6,2017-01-01,7,44.85,474.50,03:00:00
2017-01-01 03:30:00,7,2017-01-01,8,42.80,487.00,03:30:00
2017-01-01 04:00:00,8,2017-01-01,9,42.33,348.85,04:00:00
2017-01-01 04:30:00,9,2017-01-01,10,40.87,262.30,04:30:00

In [13]:
#Using Feature Engineering from pandas index 
df = df[['Price', 'Volume', 'Settlement Period']]
df['hour'] = df.index.hour
#df['dayofweek'] = df.index.dayofweek
df['dayofweek'] = df.index.strftime('%a')
df['quarter'] = df.index.quarter
#df['month'] = df.index.month
df['month'] = df.index.strftime('%b')
df['year'] = df.index.year
df['dayofyear'] = df.index.dayofyear
df['dayofmonth'] = df.index.day
df['weekofyear'] = df.index.weekofyear

df

,Price,Volume,Settlement Period,hour,dayofweek,quarter,month,year,dayofyear,dayofmonth,weekofyear
datetime,,,,,,,,,,,
2017-01-01 00:00:00,44.90,505.00,1,0.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 00:30:00,47.13,559.15,2,0.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 01:00:00,45.62,649.35,3,1.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 01:30:00,44.05,712.65,4,1.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 02:00:00,44.83,599.15,5,2.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 02:30:00,45.51,499.30,6,2.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 03:00:00,44.85,474.50,7,3.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 03:30:00,42.80,487.00,8,3.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 04:00:00,42.33,348.85,9,4.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 04:30:00,40.87,262.30,10,4.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 05:00:00,41.53,341.50,11,5.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 05:30:00,41.89,350.75,12,5.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 06:00:00,42.64,447.20,13,6.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 06:30:00,42.61,501.00,14,6.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 07:00:00,40.78,1157.50,15,7.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 07:30:00,39.43,1006.50,16,7.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 08:00:00,38.29,1073.00,17,8.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 08:30:00,38.99,1069.00,18,8.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 09:00:00,42.46,835.00,19,9.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 09:30:00,42.53,753.75,20,9.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 10:00:00,41.86,653.45,21,10.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 10:30:00,41.74,801.90,22,10.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 11:00:00,40.77,448.45,23,11.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 11:30:00,40.33,529.35,24,11.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 12:00:00,42.65,479.85,25,12.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 12:30:00,42.71,474.35,26,12.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 13:00:00,44.06,505.70,27,13.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 13:30:00,45.00,529.00,28,13.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 14:00:00,43.24,489.55,29,14.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
2017-01-01 14:30:00,41.49,510.90,30,14.0,Sun,1.0,Jan,2017.0,1.0,1.0,52.0
...,...,...,...,...,...,...,...,...,...,...,...
2019-07-01 09:00:00,34.07,1759.50,19,9.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 09:30:00,39.89,1676.10,20,9.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 10:00:00,42.17,1906.25,21,10.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 10:30:00,41.61,1811.10,22,10.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 11:00:00,39.78,1827.05,23,11.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 11:30:00,40.93,1962.30,24,11.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 12:00:00,41.44,2000.55,25,12.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 12:30:00,41.45,2097.80,26,12.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 13:00:00,43.13,2111.55,27,13.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 13:30:00,42.13,2104.25,28,13.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 14:00:00,42.04,2245.35,29,14.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 14:30:00,38.41,2475.10,30,14.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 15:00:00,38.87,2240.85,31,15.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 15:30:00,40.86,2270.05,32,15.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 16:00:00,41.81,2550.30,33,16.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 16:30:00,41.79,3031.35,34,16.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 17:00:00,41.43,2564.15,35,17.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 17:30:00,42.62,2814.85,36,17.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 18:00:00,45.90,2497.05,37,18.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 18:30:00,47.87,2536.15,38,18.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 19:00:00,56.91,1666.65,39,19.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 19:30:00,58.97,1485.75,40,19.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 20:00:00,58.20,1495.30,41,20.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 20:30:00,56.30,1695.30,42,20.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 21:00:00,56.05,1566.15,43,21.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 21:30:00,55.31,1423.25,44,21.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 22:00:00,55.69,1429.55,45,22.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 22:30:00,46.23,1572.85,46,22.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 23:00:00,34.96,917.05,47,23.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0
2019-07-01 23:30:00,43.85,828.65,48,23.0,Mon,3.0,Jul,2019.0,182.0,1.0,27.0

In [14]:
df.dtypes

Price                float64
Volume               float64
Settlement Period      int64
hour                 float64
dayofweek             object
quarter              float64
month                 object
year                 float64
dayofyear            float64
dayofmonth           float64
weekofyear           float64
dtype: object

In [15]:
df.isna().sum()

Price                0
Volume               0
Settlement Period    0
hour                 4
dayofweek            0
quarter              4
month                0
year                 4
dayofyear            4
dayofmonth           4
weekofyear           4
dtype: int64

In [16]:
df.shape

(43395, 11)

In [17]:
df = df.dropna()

In [18]:
df.to_csv('2017-2019-datetime.csv')

In [19]:
np.mean(df['Volume'])

799.3861710953897

In [20]:
np.mean(df['Price'])

49.81772994399753